@media screen and (max-width: 500px) {

    .cookie {
        padding: 8px 0;
    }

    .cookie__text {
        font-size: 8px;
        line-height: 12px;
        margin-left: 12px;
        width: 16rem;
    }

    .cookie__btn {
        font-size: 12px;
        padding: 2px 11px;
        line-height: normal;
    }

    .header {
        background-color: #f6f6f4;
        height: 14rem;
    }

    .header__navigation {
        width: 80%;
        margin-top: 9px;
        margin-left: 3rem;
    }


    .header__navigation-item {
        width: 25px;
        height: 25px;
        padding: 2px 2px;
    }

    .header__navigation-item a {
        margin-bottom: -2px;
    }

    .header__navigation-item img {
        height: 13px;
    }

    .header__navigation-menu img {
        height: 8px !important;
    }

    .header__navigation-menu a {
        margin-top: -2px;
    }
    
    .header__navigation-contacts {
        width: 8rem;
    }

    .burger-list {
        font-size: 8px;
    }

    .navigation-menu__burger.opened {
        width: 15%;
        height: 15%;
        left: -39px;
        top: -32px;
    }

    .header__navigation-item_burger {
        width: 100px !important;
        height: 80px !important;
    }

    .navigation-menu__burger span {
        height: 1px;
    }

    .navigation-menu__burger span::before {
        height: 1px;
        top: -3px;
    }

    .navigation-menu__burger span::after {
        height: 1px;
        top: 3px;
    }

    .company-logo {
        width: 82px;
        height: 82px;
        margin-top: -3rem;
        border: 3px solid white;
    }

    .company-logo img {
        width: 60px;
        height: 66px;
    }

    .main {
        background-size: 140%;
        margin-top: -4rem;
    }

    .main__title {
        font-size: 30px;
        line-height: 44px;
        margin-top: 1rem;
    }

    .main__subtitle {
        font-size: 12px;
    }

    .main__arrow-down {
        width: 48px;
        margin-top: 20rem;
    }

    .main__description {
        margin-top: 20rem;
        align-items: center;
    }

    .main__description-background {
        bottom: 0;
        right: 5%;
        width: 90%;
    }

    .main__description-text-list {
        padding-left: 0rem;
        margin-bottom: 20rem;
        width: 80%;
    }

    .main__description-title {
        width: 80%;
        font-size: 24px;
        margin: 0;
        margin-bottom: 1rem;
    }

    .main__description-text-item {
        font-size: 12px;
    }

    .topics {
        padding-bottom: 6rem;
    }

    .topics__title {
        font-size: 32px;
        margin: 0;
        margin-bottom: 2rem;
        line-height: 36px;
        margin-top: 2rem;
    }

    .topic {
        padding: 0px 16px;
    }

    .topics-line {
        margin-bottom: 13px !important;
    }

    .topic__name {
        font-size: 26px;
    }

    .topic__icon {
        width: 42px;
        height: 32px;
    }

    .topic__icon svg {
        height: 22px;
    }

    .partners {
        padding-top: 0;
        padding-bottom: 4rem;
    }

    .partners__title {
        font-size: 32px;
        margin: 0;
        margin-top: 4rem;
        line-height: 36px;
        margin-bottom: 1rem;
    }

    .partners-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
        justify-items: center;
    }

    .feedBack__title {
        font-size: 32px;
        line-height: 36px;
        margin: 0;
        margin-top: 4rem;
    }
    
    .feedBack__subtitle {
        font-size: 14px;
        text-align: center;
        width: 18rem;
        margin: 1rem auto
    }

    .feedBack__form-container {
        margin-top: 32px;
        width: 90%;
        margin-bottom: 4rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-radius: 30px;
    }

    .feedBack__form input {
        font-size: 12px;
        padding: 7px 10px;
        border-radius: 9px;
    }

    .form__submit-btn {
        font-size: 14px;
        padding: 7px 0;
        border-radius: 9px;
        font-size: 12px;
    }

    .form__error-text {
        font-size: 9px;
        margin-bottom: .5rem;
        margin-left: 0.5rem;
    }

    .control .form__error-text {
        margin: .2rem 0
    }

    .form__accept-submit {
        margin-top: .5rem;
    }

    .accept-submit__text, .accept-submit__more-info {
        font-size: 9px;
    }

    .control {
        padding-left: 1.5rem;
    }

    .control_indicator {
        width: 16px;
        height: 16px;
    }

    .control-checkbox .control_indicator:after {
        left: 5px;
        top: 0px;
        width: 4px;
        height: 10px;
    }

    .contacts__wrapper {
        margin-bottom: 4rem;
    }

    .contacts__image {
        display: none;
    }

    .contacts__item {
        width: 100%;
        padding: 8px 8px;
    }

    .contacts__item-icon {
        padding: 8px 4px;
    }

    .contacts__item-icon svg {
        height: 14px;
    }

    .contacts__title {
        font-size: 32px;
        line-height: 36px;
        margin: 0;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .contacts__item-link {
        font-size: 16px;
        line-height: 14px;
    }

    .contacts__item-link {
        margin-left: 1rem;
    }

    .footer {
        padding: 40px 0;
    }

    .footer-wrapper {
        padding: 0;
    }

    .footer__links-lists {
        justify-content: space-between;
    }

    .footer__links-wrapper {
        flex-direction: column;
    }

    .footer__links-list-wrapper:nth-child(1) {
        margin-right: 1rem;
    }

    .footer__links-info {
        margin-right: 0;
    }

    .links-list {
        padding: 0;
    }

    .links-info__links {
        margin-bottom: 0;
    }

    .links-info__links a {
        background-color: #30322F;
        width: 30px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 6px;
        border-radius: 72px;
        transition: all .3s;
        margin-right: .5em;
    }

    .links-info__links a:hover {
        border: solid 2px #30322F;
        background-color: white;
    }

    .links-info__links a:hover svg {
        fill: #30322F;
    }

    .links-info__links a svg {
        fill: white;
    }

    .links-info__title {
        margin-bottom: 1rem;
        justify-content: space-around;
    }

    .links-info__title-text {
        font-size: 20px;
        line-height: 16px;
    }

    .links-info__subtitle {
        display: none;
    }

    .links-info__developer-wrapper {
        margin-left: 1rem;
    }

    .links-info__developer-info {
        width: max-content;
        margin-right: 1rem;
        margin-left: 1rem;
        width: 34%;
    }

    .developer-info__icon {
        font-size: 5px;
        line-height: 11px;
        padding: 5px 3px;
    }

    .developer-info__title {
        font-size: 12px;
        line-height: 14px;
        margin-right: .2rem;
    }

    .links-list__item:first-child {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .links-list__item {
        margin-bottom: 0px;
    }

    .links-list__item a {
        font-size: 10px;
        line-height: 12px;
    }

    .links-list__item:hover a {
        color: rgb(0, 0, 0);   
    }

    .links-info__title-icon {
        padding: 0px 0px;
        width: 36px;
        height: 36px;
    }

    .links-info__title-icon img {
        width: 26px;
        height: 26px;
    }

    .footer__copyright-info {
        flex-direction: column;
        margin-left: 1rem;
    }

    .copyright-info__title {
        font-size: 10px;
        line-height: 12px;
        margin-right: 0;
        margin-bottom: .3rem;
    }

    .copyright-info__links a {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 4px;
    }
}



@media screen and (max-width: 450px) {
    .header {
        background-position: 0 5.5rem;
    }

    .main {
        background-size: 170%;
    }
}

@media screen and (max-width: 400px) {
    .header {
        background-position: 0 5.8rem;
        height: 11rem;
    }

    .main {
        margin-top: -3rem;
    }
}

@media screen and (max-width: 375px) {
    .header {
        background-position: 0 6.8rem;
    }
}

@media screen and (max-width: 320px) {
    .header {
        height: 9rem;
    }

    .main {
        margin-top: -2rem;
    }

    .main__description-background {
        right: 5%;
        width: 90%;
    }
}

@media screen and (max-width: 321px) and (max-height: 550px) {
    .main__description-title {
        font-size: 22px;
        margin-top: 6rem;
    }
}