* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange-color: #dc634f;
    --cyan-color: #177e89;
    --beige-color: #edeae1;
    --lightBlack-color: #31322f;
}

/* ---Cookie styles--- */

.cookie {
    position: fixed;
    bottom: 0;
    z-index: 16;
    display: flex;
    background-color: var(--cyan-color);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    transition: all .3s;
}

.cookie_hidden {
    opacity: 0;
}

.cookie__text {
    margin: 0;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: white;
    width: 60rem;
}

.cookie__btn {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: var(--lightBlack-color);
    padding: 6px 30px;
    background-color: white;
    border: none;
    border-radius: 17px;
    transition: all .3s;
}

.cookie__btn_hidden {
    pointer-events: none;
}

.cookie__btn:hover {
    cursor: pointer;
    background-color: rgb(209, 209, 209);
}

/* <!---Cookie styles---> */

.header {
    background: url(../assets/topic-space/header-bg-text.svg), linear-gradient(to bottom, var(--orange-color), var(--orange-color));
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 1rem;
    height: 45rem;
    position: relative;
}

.header_cyan {
    background: url(../assets/topic-space/header-bg-text_cyan.svg), linear-gradient(to bottom, var(--cyan-color), var(--cyan-color));
}

.header_beige {
    background: url(../assets/topic-space/header-bg-text_beige.svg), linear-gradient(to bottom, var(--beige-color), var(--beige-color));
}

.header_notFound {
    background: url(../assets/topic-space/header-bg-text_gray.svg), linear-gradient(to bottom, white, white) !important;
    height: auto !important;
}

.header header {
    margin-bottom: 10rem;
}

/* ---Navigation styles--- */

.header__navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: fixed;
    z-index: 11;
    transition: all .3s;
}

.header__navigation_accessability-opened {
    margin-top: 10rem;
}

.header__navigation-item {
    width: 48px;
    height: 48px;
    background-color: white;
    box-shadow: 0.0110991px 0.2069px 6.73392px rgba(0, 0, 0, 0.11), 0.00452184px 0.0842925px 3.37655px rgba(0, 0, 0, 0.0863704), 0.00102769px 0.0191574px 1.63072px rgba(0, 0, 0, 0.052963);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    margin-right: 1em;
}

.header__navigation-item:nth-child(4) {
    margin-right: 0;
}

.header__navigation-item_search {
    -webkit-appearance: none;
    outline: 0;
    border: none;
    padding: 0;
    background: url(../assets/icons/navigation-search-icon.svg), white;
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: center;
    font-family: 'Raleway';
}

.header__navigation-item_search-active {
    width: 16rem !important;
    border-radius: 24px;
    background-position: 90% 50%;
    padding-left: 1rem;
}

.header__navigation-item_burger {
    width: 150px !important;
    height: 130px !important;
    border-radius: 11px;
    position: relative;
}

.navigation-menu__burger-list {
    opacity: 0;
    position: absolute;
    left: 15%;
    top: 20%;
    display: none;
    transition: all .3s;
}

.navigation-menu__burger-list_visible {
    opacity: 1;
    display: block;
}

.header__navigation-item a {
    margin-bottom: -4px;
}

.navigation-menu__burger {
    width: inherit;
    height: inherit;
    position: relative;
    transition-duration: 1s;
    cursor: pointer;
    transition: all;
}

.navigation-menu__burger span {
    height: 2px;
    width: 50%;
    background-color: var(--lightBlack-color);
    border-radius: 20px;
    position: absolute;
    left: 25%;
    top: 45%;
    transition-duration: .25s;
    transition-delay: .25s;   
}

.navigation-menu__burger span:before {
    position: absolute;
    top: -6px;
    height: 2px;
    width: 100%;
    background-color: var(--lightBlack-color);
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}

.navigation-menu__burger span:after {
    position: absolute;
    top: 6px;
    height: 2px;
    width: 100%;
    background-color: var(--lightBlack-color);
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}

.navigation-menu__burger.opened {
    width: 15%;
    height: 15%;
    left: -60px;
    top: -50px;
}

.navigation-menu__burger.opened span {
    transition-duration: 0.1s;
    transition-delay: .25s;
    background: transparent;
}

.navigation-menu__burger.opened span:before {
    transition: top .25s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(-45deg);
}

.navigation-menu__burger.opened span:after {
    transition: top 0.4s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(45deg);
}

.burger-list {
    list-style-type: none;
    font-family: 'Raleway';
    font-weight: 700;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.burger-list a {
    color: #30322F;
    text-decoration: none;
}

.header__navigation-item:hover {
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.header__navigation-menu {
    margin-top: 12px;
}

.header__navigation-menu:hover {
    cursor: initial;
}

.header__navigation-item img {
    height: 20px;
    transition: all .2s;
}

.header__navigation-contacts {
    display: flex;
    padding: 14px 0;
}

.header__navigation-contacts_search-active {
    width: 30rem;
}

.navigation-logo {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    line-height: 71px;
    letter-spacing: 0.04em;
    margin-right: 5rem;
    margin-left: 13rem;
    text-shadow: 1px 1px 1px var(--lightBlack-color);
}

.navigation-logo {
    margin-right: 5rem;
    transition: all .3s;
    opacity: 100;
}

.navigation-logo_hidden {
    opacity: 0;
}

.dark-text {
    color: var(--lightBlack-color);
}

.navigation-list {
    display: flex;
    list-style-type: none;
}

/* <!---Navigation styles---> */

/* ---Topic styles--- */

.header__topic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-logo-wrapper {
    background-color: white;
    width: max-content;
    border-radius: 100%;
    padding-bottom: 1em;
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topic-logo-wrapper_medicine {
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1em;
}

.topic-logo-wrapper_tech {
    padding: 1.5em;
}

.topic-logo-wrapper_technics {
    background-color: var(--lightBlack-color);
    padding: 1.5em;
}

.notFound-logo-wrapper {
    color: var(--lightBlack-color);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.notFound-logo-wrapper span {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 300px;
    line-height: 404px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.notFound-logo {
    width: 270px;
    height: 270px;
}

.notFound-link {
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    background-color: var(--lightBlack-color);
    text-decoration: none;
    padding: .6em 2em;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: all .3s;
    margin-bottom: 12rem;
    margin-top: 5rem;
}

.notFound-link:hover {
    color: var(--lightBlack-color);
    background-color: white;
    border: 2px solid var(--lightBlack-color);
}

.topic-logo {
    width: 128px;
    height: 128px;
}

.topic-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 4.5em;
    line-height: 162px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.topic-title_notFound {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 109.3%;
    text-transform: lowercase;
    letter-spacing: normal;
    color: var(--lightBlack-color);
}

.topic-subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 1.1em;
    line-height: 109.3%;
}

.topic-image {
    position: absolute;
    width: 100%;
    bottom: -15%;
}

.topic-image_tech {
    bottom: -27%;
}

.topic-image_science {
    bottom: -18%;
}

/* <!---Topic styles---> */

/* ---Main styles--- */

.main {
    background: url(../assets/topic-space/bg-ellipse.svg);
    background-position: top center;
    background-size: cover;
    margin-top: -6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    position: relative;
}

.main__arrow {
    height: max-content;
}

.main__arrow svg {
    width: 78px;
    margin-bottom: 15rem;
}

.main__articles {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 4rem;
}

.articles__article {
    background-color: var(--cyan-color);
    padding-top: 1rem;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles__article:nth-child(2) {
    background-color: var(--beige-color);
}

.articles__article:nth-child(2) .article__header p, .articles__article:nth-child(2) .article__title {
    color: var(--lightBlack-color);
}

.articles__article:nth-child(3) {
    background-color: var(--orange-color);
}

.articles__article:nth-child(4) {
    grid-column-start: span 2;
    background: linear-gradient(to bottom, #30322F, rgba(0, 0, 0, 0) 28%), url(../assets/topic-space/article-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.articles__article:nth-child(4) .article__link {
    text-decoration: none;
    color: var(--lightBlack-color);
    border-radius: 18px;
    padding: .4em .8em;
}

.articles__article:nth-child(4) .article__title {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1em;
}

.article__header {
    font-family: 'Raleway';
    font-style: normal;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.article__header p {
    font-weight: 500;
    font-size: 1em;
    line-height: 125%;
    color: white;
    text-transform: uppercase;
}

.article__link {
    background-color: white;
    display: flex;
    padding: .4em;
    border-radius: 100%;
}

.article__link svg {
    width: 14px;
}

.article__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    line-height: 106.8%;
    color: white;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.article__image {
    width: 100%;
    border: 8px solid white;
    border-radius: 49%;
    margin-left: 15%;
    margin-bottom: -15%;
}

/* <!---Main styles---> */

/* ---Feedback styles--- */

.feedback {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    background: url(../assets/topic-space/feedback-bg-text.svg), linear-gradient(to bottom, var(--orange-color), var(--orange-color));
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.feedback header {
    margin-bottom: 3rem;
}

.feedback-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 4em;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 2rem;
}

.feedback-subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 125%;
    text-align: center;
    text-transform: lowercase;
}

.feedback__form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    width: 60rem;
    background-color: white;
    padding: 0 2em;
    padding-top: 4em;
    padding-bottom: 1em;
    border-radius: 50px;
}

.form__contacts-fields {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

.contact-wrapper {
    width: 48%;
}

.contact-input {
    width: 100%;
    padding: 20px 20px;
    border-radius: 20px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0.021427px 0.399426px 13px rgb(0 0 0 / 11%), 0.00872954px 0.162729px 6.51852px rgb(0 0 0 / 9%), 0.00198399px 0.0369839px 3.14815px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0.021427px 0.399426px 13px rgb(0 0 0 / 11%), 0.00872954px 0.162729px 6.51852px rgb(0 0 0 / 9%), 0.00198399px 0.0369839px 3.14815px rgb(0 0 0 / 5%);
    box-shadow: 0.021427px 0.399426px 13px rgb(0 0 0 / 11%), 0.00872954px 0.162729px 6.51852px rgb(0 0 0 / 9%), 0.00198399px 0.0369839px 3.14815px rgb(0 0 0 / 5%);
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 24px;
    border: none;
    color: #A5ACA2;
}

.contact-input:focus {
    outline: none;
}

.form__error-text {
    color: red;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    transition: all .2s;
    opacity: 0;
}

.form__accept-submit {
    margin-top: 1rem;
    display: flex;
}

.form__accept-submit p {
    width: fit-content;
}

.form__submit-btn {
    background: var(--lightBlack-color);
    border-radius: 25px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    color: white;
    border: none;
    padding: 18px 0;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .3s;
}

.form__submit-btn_submitted {
    border: 2px solid var(--lightBlack-color);
    background-color: white;
    color: var(--lightBlack-color);
}

.accept-submit__text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: #545753;
    margin: 0;
}

.accept-submit__more-info {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 15px;
    line-height: 125%;
    color: #545753;
}

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 3rem;
    /* margin-bottom: 20px; */
    font-size: 16px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    height: 25px;
    width: 25px;
    background: #ffffff;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    transition: all .3s;
    box-shadow: -0.00150235px 0.0370066px 3.14815px rgba(48, 50, 47, 0.001), 0.021427px 0.399426px 13px rgba(0, 0, 0, 0.11), 0.00872954px 0.162729px 6.51852px rgba(0, 0, 0, 0.0863704), 0.00198399px 0.0369839px 3.14815px rgba(0, 0, 0, 0.052963);
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    border: 1px solid black;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: -2px;
    width: 6px;
    height: 20px;
    border: solid #de6551;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

/* <!---Feedback styles---> */

/* ---Contacts styles--- */

.contacts {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 6rem 0;
    width: 100%;
}

.contacts__image {
    position: absolute;
}

.contacts__image:nth-child(1) {
    left: 0;
    bottom: -10%;
    width: 20%;
}

.contacts__image:nth-child(2) {
    right: 0;
    bottom: -15%;
    width: 25%;
}

.contacts__title {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.04em;
    color: #30322F;
    margin-bottom: 3rem;
}

.contacts__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 132px;
}

.contacts__item {
    display: flex;
    width: 32rem;
    padding: 12px 0;
    padding-left: 12px;
    border-radius: 72px;
    margin-bottom: 26px;
    align-items: center;
    border: 3px solid white;
    text-decoration: none !important;
    transition: all .3s;
}

.contacts__item:first-child {
    background-color: var(--cyan-color);
}

.contacts__item:nth-child(2) {
    background-color: var(--beige-color);
}

.contacts__item:nth-child(3) {
    background-color: var(--orange-color);
    margin-bottom: 0;
}

.contacts__item-icon {
    background-color: white;
    padding: 14px 19px;
    border-radius: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.contacts__item-icon svg {
    fill: #545753;
}

.contacts__item-icon_email svg {
    width: 38px;
    height: 26px;
}

.contacts__item-icon_vk svg {
    width: 39px;
    height: 26px;
}

.contacts__item-icon_telegram svg {
    width: 32px;
    height: 27px;
}

.contacts__item-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.04em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
}

.contacts__item-link_gray {
    color: #545753;
}

.contacts__item:hover {
    background-color: white;
    border: 3px solid #545753;
}

.contacts__item:hover .contacts__item-link {
    color: #545753;
}

.contacts__item:hover .contacts__item-icon {
    background-color: #545753;
}

.contacts__item:hover .contacts__item-icon svg {
    fill: white;
}

/* <!---Contacts styles---> */

/* ---Footer styles--- */

.footer {
    background-color: var(--beige-color);
    display: flex;
    justify-content: center;
    padding: 55px 0;
    position: relative;
    z-index: 2;
}

.footer__links-wrapper {
    display: flex;
    border-bottom: 2px solid var(--lightBlack-color);
    padding-bottom: 2rem;
}

.footer__links-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.links-info__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-info__title-icon {
    background-color: #30322F;
    border: 2px solid white;
    padding: 10px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    border-radius: 72px;
}

.links-info__title-text {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 32.9842px;
    line-height: 49px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #30322F;
    margin: 0;
}

.links-info__subtitle {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.04em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #30322F;
    margin-bottom: 1rem;
}

.links-info__links {
    display: flex;
    margin-bottom: 1rem;
}

.links-info__links-wrapper {
    margin-right: 1rem;
}

.links-info__links svg {
    fill: white;
    height: 19px;
}

.links-info__links a {
    margin-right: 20px;
    border: 2px solid transparent;
    background-color: var(--lightBlack-color);
    padding: .3em .6em;
    border-radius: 18px;
    display: flex;
    transition: all .3s;
}

.links-info__links a svg {
    transition: all .3s;
}

.links-info__links a:hover {
    background-color: white;
    border: 2px solid var(--lightBlack-color);
}

.links-info__links a:hover svg {
    fill: var(--lightBlack-color);
}

.links-info__links a:last-child {
    margin-right: 0;
}

.links-info__developer-info {
    display: flex;
    align-items: center;
}

.developer-info__title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #30322F;
    margin-right: 9px;
}

.developer-info__icon {
    background-color: #30322F;
    border-radius: 72px;
    padding: 22px 7px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.04em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer__links-list-wrapper:nth-child(1) {
    margin-right: 2.5rem;
}

.links-list {
    list-style-type: none;
}

.links-list__item:first-child {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #30322F;
    margin-bottom: 24px;
}

.links-list__item:first-child:hover {
    padding: 0;
    box-shadow: none;
}

.links-list__item {
    font-family: 'Raleway';
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 16px;
    width: max-content;
    border-radius: 16px;
    transition: all .3s;
}

.links-list__item:hover a {
    font-size: 19px;
}

.links-list__item a {
    font-weight: 400;
    text-decoration: none;
    color: #30322F;
    letter-spacing: 0.04em;
    font-size: 18px;
    line-height: 21px;
    transition: all .3s;
}

.links-list__item:last-child {
    margin-bottom: 0;
}

.footer__copyright-info {
    display: flex;
    align-items: baseline;
    margin-top: 2rem;
}

.copyright-info__title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #545753;
    margin-right: 13.5rem;
}

.copyright-info__links {
    display: flex;
    flex-direction: column;
}

.copyright-info__links a {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #545753;
    text-decoration: none;
    margin-bottom: 16px;
    transition: all .3s;
    border-radius: 16px;
}

.copyright-info__links a:last-child {
    margin-bottom: 0;
}

/* <!---Footer styles---> */

@media (min-width: 1921px) and (max-width: 2700px) {
    .notFound-logo-wrapper span {
        font-size: 404px;
    }

    .notFound-logo {
        width: 332px;
        height: 332px;
    }

    .topic-title_notFound {
        font-size: 74px;
    }

    .notFound-link {
        font-size: 26px;
    }

    .navigation-burger {
        margin-right: 18rem;
    }

    .header {
        height: 60rem;
    }

    .topic-image {
        bottom: -19%;
    }

    .topic-image_tech {
        bottom: -25%;
    }

    .topic-image_science {
        bottom: -27%;
    } 

    .topic-title {
        font-size: 110px;
    }

    .topic-subtitle {
        font-size: 36px;
    }

    .article__title {
        font-size: 78px;
        margin-bottom: 2rem;
    }

    .contacts__image:nth-child(1) {
        width: 14%;
    }

    .contacts__image:nth-child(2) {
        bottom: -20%;
        width: 18%;
        right: 0;
    }
}